{% extends "main/templates/base.html" %}

{% block main-view %}
<h1>Biochemistry</h1>
<ul class="outline">
  <li><a href="/notes/macromolecule">Macromolecules</a>
    <ul>
      <li><a href="/notes/nucleic-acid">Nucleic Acids</a></li>
      <li><a href="/notes/protein">Proteins</a></li>
      <li>Carbohydrates</li>
      <li>Lipids</li>
    </ul>
  </li>
  <!-- <li>Enzyme Reactions</li> -->
  <!-- <ul> -->
  <!--   <li>Redox - Oxidoreductase</li> -->
  <!--   <li>Transfer - Transferase</li> -->
  <!--   <li>Hydrolysis - Hydrolase</li> -->
  <!--   <li>Lyation - Lyase</li> -->
  <!--   <li>Isomerization - Isomerase</li> -->
  <!--   <li>Ligation - Ligase</li> -->
  <!-- </ul> -->
  <!-- <li>Metabolism</li> -->
  <!-- <ul> -->
  <!--   <li>Metabolic Map</li> -->
  <!--   <li>Energy</li> -->
  <!--   <li>Anabolism</li> -->
  <!--   <li>Catabolism</li> -->
  <!-- </ul> -->
</ul>
{% end %}
