{% extends "main/templates/base.html" %}

{% block main-view %}
<h1>Biophysics</h1>
<ul class="outline">
  <li><a href="/notes/macromolecule">Macromolecules</a>
    <ul>
      <li><a href="/notes/nucleic-acid">Nucleic Acids</a></li>
      <li><a href="/notes/protein">Proteins</a></li>
      <li>Carbohydrates</li>
      <li>Lipids</li>
    </ul>
  </li>
  <!-- <li>Experimental Methods -->
  <!--   <ul class="outline"> -->
  <!--     <li>X-ray Crystallography</li> -->
  <!--     <li>Nuclear Magnetic Resonance (NMR)</li> -->
  <!--     <li>Mass Spectrometry</li> -->
  <!--     <li>Fluorescence Spectroscopy</li> -->
  <!--     <li>Atomic Force Microscopy</li> -->
  <!--     <li>Electron Microscopy</li> -->
  <!--     <li>Optical Tweezers</li> -->
  <!--   </ul> -->
  <!-- </li> -->
</ul>
{% end %}
