{% extends "main/templates/base.html" %}

{% block main-view %}
<h1>Nucleic Acid</h1>

<p>
  Nucleic acids are strings of nucleotides.  The two main "information" molecules are <span class="gloss">ribonucleic acid</span> (<span class="gloss-abbr">RNA</span>) and <span class="gloss">deoxyribonucleic acid</span> (<span class="gloss-abbr">DNA</span>).
</p>

<h2>Nucleotide Structure</h2>

<h2>DNA Nucleotides</h2>
<table cellpadding="2" cellspacing="2" border="0" style="text-align: left;">
  <thead>
    <tr>
      <th>Nucleobase</th>
      <th>3-letter</th>
      <th>1-letter</th>
      <th>Nucleotide Structure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adenosine</td>
      <td>Ade</td>
      <td>A</td>
      <td></td>
    </tr>
    <tr>
      <td>Cytosine</td>
      <td>Cyt</td>
      <td>C</td>
      <td></td>
    </tr>
    <tr>
      <td>Guanine</td>
      <td>Gua</td>
      <td>G</td>
      <td></td>
    </tr>
    <tr>
      <td>Thymine</td>
      <td>Thy</td>
      <td>T</td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>RNA Nucleotides</h2>
<table cellpadding="2" cellspacing="2" border="0" style="text-align: left;">
  <thead>
    <tr>
      <th>Nucleobase</th>
      <th>3-letter</th>
      <th>1-letter</th>
      <th>Nucleotide Structure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adenosine</td>
      <td>Ade</td>
      <td>A</td>
      <td></td>
    </tr>
    <tr>
      <td>Cytosine</td>
      <td>Cyt</td>
      <td>C</td>
      <td></td>
    </tr>
    <tr>
      <td>Guanine</td>
      <td>Gua</td>
      <td>G</td>
      <td></td>
    </tr>
    <tr>
      <td>Uracil</td>
      <td>Ura</td>
      <td>U</td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Nucleic Acid Structure</h2>

<h3>Primary Structure</h3>

<h3>Secondary Structure</h3>

double helices

bulges

hairpin loops

multistem loops

pseudoknots

{% end %}
